@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html{
    font-size: 10px;
}
.form-section{
    background-color:hsl(204, 8%, 76%) ;
    height: 270px;
}
.form-body{
    position: relative;
    top:35px;
    left: 20px;
    background-color: white;
    width: 175px;
    height: 200px;
    padding-top: 50px;
    border:1px solid hsl(184, 9%, 62%);
}
.title{
    font-size: 0.8rem;
    font-weight: 700;
    font-family:roboto ;
    color:hsl(211, 12%, 48%);
}
.form-body .title{
    position:relative;
    left: 25px;
    display: inline-block;
    padding-left: 35px;
    padding-right: 5px;
    
}
.form-body .title:before, .form-body .title:after {
    position: absolute;
    top:50%;
    width:35px;
    height: 1px;
    content: '';
    background:linear-gradient(320deg, black 0%,grey, white);
    left: -5px;
}
.form-body .title:after {
    left:100%;
}
/*
.feature-section .title{
    position: relative;
    display: inline-block;
    padding:10px 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.feature-section .title:before, .feature-section .title:after {
    position: absolute;
    top:50%;
    width:100px;
    height: 1px;
    content: '';
    background-color: white;
    left: -100px;
}
.feature-section .title:after {
    left:100%;
}
*/
.move-form{
    transform: translateY(-28px);
}
input{
    width: 125px;
    height: 23px;
    margin-bottom: 5px;
    margin-left: 5px;
    background-color: whitesmoke;
    border: 1px solid hsl(132, 6%, 83%);
    font-size: 0.5rem;
}
select{
    width: 125px;
    height: 23px;
    background-color: whitesmoke;
    border: 1px solid hsl(132, 6%, 83%);
    margin-bottom: 5px;
    margin-left: 5px;
    border: 1px hsl(184, 9%, 62%) solid;
    font-size: 0.5rem;
    color: hsl(204, 8%, 76%);
}
option{
    color: hsl(211, 12%, 48%);
}
.form-bottom{
    position: relative;
    bottom: 7px;
}
.btn{
    position: relative;
    padding-left: 12px;
    padding-right: 12px;
    border: .5px solid #daa520;
    color: #8b4513;
    border-radius: 20px;
    background:linear-gradient(#ebb866 0%, #ffa400);
    font-size: 0.3rem;
    font-weight: 700;
    font-family: roboto ;
}
.btn:hover{
    color: #8b4513;
}
.password{
    padding-left: 50px;
    font-size: 0.4rem;
}
@media only screen and (min-width:481px) and (max-width:768px){
    .title{
        font-size: 1.4rem;
    }
    .form-section{
        height: 350px;
    }
    .form-body{
        width: 250px;
        height: 268px;
    }
    .margin{
        margin-top: 10px;
    }
    input{
        width: 190px;
        height: 28px;
        margin-bottom: 7px;
        font-size: 0.5rem;
        font-size: 0.8rem;
    }
    select{
        width: 190px;
        height: 28px;
        margin-bottom: 7px; 
        font-size: 0.8rem;
    }
    .btn{
    position: relative;
    left: 16px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 0.6rem;  
    }
  .password{
      font-size: 1rem;
  }
}
@media only screen and (min-width:769px) and (max-width:1024px){
    .title{
        font-size: 1.8rem;
    }
    .form-section{
        height: 450px;
    }
    .form-body{
        width: 300px;
        height: 318px;
    }
    .margin{
        margin-top: 10px;
    }
    input{
        width: 220px;
        height: 38px;
        margin-bottom: 10px;
        font-size: 0.8rem;
    }
    select{
        width: 220px;
        height: 38px;
        margin-bottom: 10px; 
        font-size: 0.8rem;
    }
    .btn{
    position: relative;
    left: 16px;
    padding-left: 22px;
    padding-right: 22px;
    font-size: 1rem;  
    }
  .password{
      font-size: 1.5rem;
  }
}

@media only screen and (min-width:1200px) and (max-width:1441px){
    body{
        padding-left: 110px;
        padding-right: 110px;
    }
    .title{
        font-size: 2.5rem;
    }
    .form-section{
        height: 550px;
    }
    .form-body{
        width: 370px;
        height: 388px;
    }
    .margin{
        margin-top: 25px;
    }
    input{
        width: 260px;
        height: 44px;
        margin-bottom: 10px;
        font-size: 1.2rem;
    }
    select{
        width: 260px;
        height: 44px;
        margin-bottom: 10px; 
        font-size: 1.2rem;
    }
    .btn{
    position: relative;
    left: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 1.5rem;  
    }
  .password{
      font-size: 1.5rem;
  }
  .form-body .title{
    position:relative;
    left: 65px;
    padding-left: 65px;
    
}
.form-body .title:before, .form-body .title:after {
    
    width:65px;
}
}
@media only screen and (min-width:2559px) and (max-width:2561px){
    body{
        padding-left: 610px;
        padding-right: 610px;
    }
    .title{
        font-size: 2.5rem;
    }
    .form-section{
        height: 550px;
    }
    .form-body{
        width: 370px;
        height: 388px;
    }
    .margin{
        margin-top: 25px;
    }
    input{
        width: 260px;
        height: 44px;
        margin-bottom: 10px;
        font-size: 1.2rem;
    }
    select{
        width: 260px;
        height: 44px;
        margin-bottom: 10px; 
        font-size: 1.2rem;
    }
    .btn{
    position: relative;
    left: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 1.5rem;  
    }
  .password{
      font-size: 1.5rem;
  }
  .form-body .title{
    position:relative;
    left: 65px;
    padding-left: 65px;
    
}
.form-body .title:before, .form-body .title:after {
    
    width:65px;
}
}

